*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.narrow-container{
    height: 122px;
    width: 1200px;;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
  
}
.narrow-container h1{
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    color: #054C73;


}

nav a:link, a:visited{
    
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    color: #333333;

}

header nav ul  {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
nav a:link:active, a:visited:active {
    text-decoration: none;
    color: #333333;
}
/* 1 */

.main-box img{
    width: 1440px;
    height: 832.93px;
    position: relative;
    background-size:100% auto;
}
.main-discover-box{
    width: 1200px;
    height: 832.93px; 
    display: flex;
    justify-content: end;
    position: absolute;
    top: 280px;
    right: 90px;
    z-index: 1;
}

.discover-box{
    background: #DFE9F4;
    height: 443px;
    width: 643px;
    border-radius: 10px;
    padding-left:39px;
    padding-top :37px;

}
.discover-box h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #333333;


}
.discover-box h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0px;
    text-align: left;
    color: #054C73;
    margin-top: 20px;
    margin-bottom: 20px;
  

}
.discover-box p{
    font-size: 18px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    margin-bottom: 30px;


}
.discover-box button{
    height: 70px;
    width: 229px;
    border-radius: 50px;
    padding: 25px 72px 20px 72px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #054C73;
    border: none;
    color: #FFFFFF;

}
/* 1 */
/* 2 */
.main-delivery-box{
    height: 160px;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}
.delivery-container{
    z-index: 1;
    position:absolute;
    top: 871px;
    width: 1440px;
    background: #F2F5FF;
    margin-bottom: 60px;
    
}
.delivery-container img{
    width: 60px;
    height: 55px;
    margin-right: 10%;
}
.delivery-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.delivery-box h3{
    height: 29px;
    width: 168px;
    color: #333333;
    font-style: SemiBold;
    font-size: 24px;




}
.delivery-box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;


  
}
/* 2 */
/* 3 */
.cataloge-box{
    text-align: center;
}
.cataloge-box h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: #333333;

    

}
.cataloge-box p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;



}
.cataloge-container{
    margin-top: 135px ;
    background-color:#FFFFFF;
    height: 684px;
    display: flex;
    justify-content: center;
    width: 1440px;
    flex-direction: column;
    

}
.cataloge-imges img{
    object-fit: cover;
    width:100% ;
    height: 100%; 
} 
.cataloge-imges {
    width: 1135.79px;

}
.cataloge-img1{
    margin-top: 60px;
    width: 25%;
    height: 430px;
    
}
.cataloge-img1 img{
    border-top-left-radius: 25%;
}
.cataloge-img2 {
    margin-top: 30px;
    margin-left: 39px;
    margin-right: 39px;
    width: 25%;
    height: 430px;
    
    
    
}
.cataloge-img3 {

    margin-top: 60px;
    width: 25%;
    height: 430px;
    border-bottom-right-radius: 25%;
    background-color:#E5E5E5;
}
.cataloge-imges{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}
/* 3 */
.main-info-container{
    height: 874px;
    width: 1440px;
    background: #F2F5FF;

}
.main-bokes-info{
    height: 874px;
}
.main-info-bokes{
    margin: auto;
    width:1200px;
    display: grid;
    gap: 20px;
    grid-template-columns:1fr 1fr;

}

.main-info-bokes-img{
    z-index: 1;
}
.main-info-bokes img{
    height: 754px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    margin-top:60px ;
    object-fit: cover;
    width: 500px;
    box-sizing: border-box;
    position: relative;
  
}
.main-info-container span{
    height: 373px;
    width: 373px;
    background-color: #09513B;
    z-index: -1;
    left: 200px;
    top: -600px;
    
    border-radius: 50%;
    position: relative;
}
.main-info-bokes div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.main-info-container h3{
    margin-bottom: 21px;
    color: #333333;
    font-style: SemiBold;
    font-size: 39px;
    font-weight: 700;


    
} 
.main-info-container p{
    margin-bottom: 31px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #333333;
    
}
.main-info-container button{
    height: 70px;
    width: 229px;
    border-radius: 50px;
    padding: 25px 70px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    background-color: #054C73;
    border: none;
    color: #FFFFFF;

}
/* 4 */

.container-head{
    text-align: center;
    margin-top: 60px;
}
.container-head h3{
    margin-bottom: 20px;
    height: 29px;
    color: #333333;
    font-style: SemiBold;
    font-size: 39px;
    font-weight: 700;




}
.container-head p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #333333;


}
.main-images-box{
    width: 1200px;;
    margin: 50px auto auto auto;
    height: 649px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap:4fr 1fr;
    
}  
.main-images-box img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
}

.main-images-box h4{
    padding-top: 30px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: #333333;

}
/* 4 */
/* 5 */
.works-head{
    text-align: center;
    margin-top: 60px;
}
.works-head h3{
    height: 29px;
    width: 168px;
    color: #333333;
    font-style: SemiBold;
    font-size: 24px;

}
.works-head p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    color: #333333;
}
.works-images{
    width: 1200px;
    margin:20px auto auto auto ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 400px 1fr 1fr;
    height: 620px;
    gap: 20px;
    
    
}  
.works-images img{
    border-radius: 8%;
    box-sizing: border-box;
    width:100% ;
    height: 100%;
    position: relative;
}
.works-images h4{
   
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color: #333333;


}
.works-images p{
   
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #666666;


}
.circle-box{

    background-color:  #FCFCFC;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top:-60px;
    left:120px;
    
    


}
.circle-box-child{
    background-color: #111111;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.circle-box-child h1{
    color:#FFFFFF;
    text-align: center;
    margin-top: 10px;

}
/* footer */
footer{
    margin-top: 50px;

}
.contact-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 363px;
    background-color: #F2F5FF;
    justify-content: center;
    width: 1440px;


}
.contact-container h1{
   
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    
}
.contact-container p{
   
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    color: #666666;
    text-align: center;

}
.contact-container form{
    display: flex;
    

}
.contact-container input{
    height: 70px;
    width: 333px;
    border: 2px solid #054C73;
    background-color: #FFFFFF;
    padding: 25px;
   
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;


}
.contact-container button{
    height: 70px;
    width: 153px;
    border-radius: 3px;
    background: #054C73;
    color: #FFFFFF;
    border-radius: 0px;
    border: 2px solid #054C73;
   
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;



}
/* footer */
.main-footer-container{
    background: #03344F;
    height: 386px;
    border-radius: 0px;
    display: flex;
    width: 1440px;

   
    
   
    
    
    


}
.main-footer-container h3{
    
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
  


}
.main-footer-container p{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    color:#FFFFFF;
    margin-top: 34px;
    margin-bottom: 34px;
    

}
.footer-container{
    display:flex;
    flex-direction: column;
    width: 70%;
    
    

}
.footer-container-img {
    display: flex;
    justify-content: start;

}
.footer-container-img img{
    margin-right: 20px;
    box-sizing: border-box;
    width:23%;
    
}
.footer-info{
    width: 30%;
}
.footer-box{
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.footer-container h3{
    margin-bottom: 19px;
}

.burger-menu{

    width: 30px;
    height: 25px;
    display: none;
    justify-content:space-between;
    flex-direction: column;
    
}
.burger-menu .burger{
    height: 3px;
    width: 1440px;
    background-color: grey;
    border-radius: 10px;
     
}

@media(max-width:900px){
    .burger-menu{
        display: flex;
    }
    .narrow-container ul{
        display: none;
    }

}
@media(mix-width:901px){
    .main-info-bokes img{
        height: 754px;
        border-top-left-radius: 25%;
        border-bottom-right-radius: 25%;
        margin-top:60px ;
        object-fit: cover;
        width: 80%;
        box-sizing: border-box;
        position: relative;
        display: flex;
    }

}
@media(max-width:900px){
    .main-box{
        height: 600.93px;
        width: 100%;
        background-size: 100% auto;
        position: relative;
    }
    .main-info-bokes-img{
        display: none;
    }
    .main-info-bokes-img img, span{
        display: none;

    }


}

